* {
  box-sizing: border-box;
  font-family: "Almoni"
}

.crossword {
  display: flex;
  justify-content: space-around;
  /* width: 90%;
  
  margin: 0 auto; */
}

.crossword-img {
    height: 21rem;
    position: absolute;
    z-index: 5;
    width: 20.5rem;
    top: 9rem
}

.clue-lists {
  max-width: 40%;
}

.clue-list {
  list-style-type: none;
  padding: 0;
}

.clue {
  margin-bottom: 10px;
  display: flex;
}

.active {
  color: #aaa5a5;
}
.text {
  color: white;
  font-weight: bold;
  position: relative;
  top: -2rem;
}

.clue-number {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}
.clue-text {
  color: white;
  font-weight: bold;
  margin-bottom: -1rem;
  width: 100rem;
}

.crossword-board {
  display: flex;
  flex-wrap: wrap;
  width: 21rem;
  height: 21rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0.5rem;
}

.box {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #000;
  text-align: center;
  &:not(:nth-child(12n + 1)) {
    border-left: 0;
  }
  &:not(:nth-last-child(-n + 12)) {
    border-bottom: 0;
  }
}

.right {
    background-color: rgb(112, 204, 112) !important;
}
.false{
    background-color: rgb(240, 121, 121) ;
}

.box-input {
  width: 1.7rem;
  height: 1.7rem;
  padding-left: 0.5rem;
  &:nth-last-child(-n + 11) {
    height: 1.7rem;
  }
  &:focus {
    background: #605e5e;
  }
}

.box-label {
  position: absolute;
  font-size: 10px;
  left: 18.2px;
  top: 1px;
}

.blank { 
  background: black;
}

.buttonCheck {
    background-color: #99B882;
    color: white;
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    

}

.highlight {
  background: #bdb9b9;
}

@media all and (max-width: 1140px) {
  .crossword {
    flex-direction: column;
    align-items: center;
  }

  .clue-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 100%;
    text-align: center;
  }
  .clue-list-wrapper {
    max-width: 89%;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.bdika {
  background-color: #99b882;
  border-radius: 10px;
  color: white;
  top: 0;
  font-size: 15px;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  width: fit-content;
  height: fit-content;
}
